/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jun-2019, 12:05:09
    Author     : tacka
*/

* {box-sizing: border-box;}
        
.register_class {
    margin-left: 70%;
    width: 20%;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    background-color: #C0C0C0;
}

 table.table1 {
    font-family: Arial;
    border-collapse: collapse;
    width: 80%;
    margin-left: 20px;
}

.form-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container-reg {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    background-color: lightgray;
    min-width: 200px;
}

.form-container-reg .btn {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

th.table1, td.table1 {
    font-family: Arial;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}       

/* Add some hover effects to buttons */
.form-container-reg .btn:hover, .open-button:hover {
  opacity: 1;
}

