/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jun-2019, 11:56:33
    Author     : tacka
*/

* {box-sizing: border-box;}
        
.register_class {
    margin-left: 70%;
    width: 20%;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    background-color: #C0C0C0;
}

 table.table1 {
    font-family: Arial;
    border-collapse: collapse;
    width: 80%;
    margin-left: 20px;
}

th.table1, td.table1 {
    font-family: Arial;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.form-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup-msg {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
  height: 200px;
  width: 450px;
}

.form-container-reg {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    background-color: lightgray;
}


.form-popup1 {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Full-width input fields */
.form-container-reg input[type=text], .form-container-reg input[type=password], textarea {
  width: 100%;
  height: 10px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

/* When the inputs get focus, do something */
.form-container-reg input[type=text]:focus, .form-container-reg input[type=password]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container-reg .btn {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container-reg .btnMsg {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-top:70px;
  margin-left: 130px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-reg .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container-reg .btn:hover, .open-button:hover {
  opacity: 1;
}

