/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jun-2019, 12:05:09
    Author     : tacka
*/

* {box-sizing: border-box;}
        
.register_class {
    margin-left: 70%;
    width: 20%;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    background-color: #C0C0C0;
}

 table.table1 {
    font-family: Arial;
    border-collapse: collapse;
    width: 80%;
    margin-left: 20px;
}

th.table1, td.table1 {
    font-family: Arial;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}       

